:root {
  --color-background: #f5f5f5;
  --color-card-bg: #ffffff;
  --color-primary: #1c1c1c;
  --color-secondary: #555555;
  --color-accent: #b0b0b0;
  --color-border: #e0e0e0;
  --color-tag-bg: #eeeeee;
  --color-price-discount: #d32f2f;
}

.filterBox {
  background-color: var(--color-card-bg);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 8px; 
  height: 90vh;
}


.container {
  background-color: var(--color-background);
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 100vh;
}

.stack {
  display: flex;
  gap: 16px;
}

.filterBox {
  background-color: var(--color-card-bg);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.filterStack {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}


.textField {
  flex: 1;           
  min-width: 300px;  
  max-width: 800px; 
  margin-bottom: 16px;
}

.select {
  min-width: 200px;
  width:150px;
}

.card {
  background-color: var(--color-card-bg);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.cardMedia {
  height: 140px;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.productName {
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 4px;
}

.productDescription {
  color: var(--color-secondary);
  margin-top: 4px;
}

.productPrice {
  font-weight: bold;
  color: var(--color-primary);
}

.productPriceDiscount {
  color: var(--color-price-discount);
}

.tag {
  background-color: var(--color-tag-bg);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75rem;
  margin-right: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.storeName {
  color: var(--color-primary);
  cursor: pointer;
  margin-top: 8px;
}

.ratingBox {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
