.paperContainer {
  padding: 32px;
  background-color: #ffffff !important;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1) !important; 
  color: #333333; 
  max-width: 500px;
  margin: 32px auto;
}

.paperContainer h5 {
  color: #1a1a1a !important;
  font-weight: 600;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.formBox .MuiTextField-root {
  background-color: #ffffff; 
}

.formBox .MuiInputBase-input {
  color: #333333; 
}

.formBox .MuiInputLabel-root {
  color: #666666; 
}

.formBox .MuiInputBase-root.Mui-disabled .MuiInputBase-input {
  -webkit-text-fill-color: #999999; 
  background-color: #f5f5f5;
}

.formBox .MuiOutlinedInput-root:not(.Mui-disabled) .MuiOutlinedInput-notchedOutline {
    border-color: #cccccc;
}

.formBox .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #535353 !important;
}

.saveButton {
  background-color: #050505 !important; 
  color: #fff !important;
  font-weight: bold !important;
  padding: 10px 0 !important;
  margin-top: 16px !important;
}

.saveButton:hover {
  background-color: #727272 !important;
}