.footer {
  background-color: #f5f5f5;
  color: #333;
  width: 100%;
  margin-top: 15px;
}

.link {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}
