/* Definindo variáveis de cores */
:root {
  --color-background: #f5f5f5; /* tom de branco sujo / off-white */
  --color-primary: #1c1c1c; /* preto mais suave */
  --color-secondary: #4f4f4f; /* cinza médio */
  --color-accent: #b0b0b0; /* cinza claro para detalhes */
  --color-text: #1c1c1c;
  --color-link: #6ca0dc; /* azul suave para links */
}

/* Estilo global */
.App {
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

html, body, #root, .app-layout {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background) !important;
}

.app-layout {
  display: flex;
  flex-direction: column;
}

.main-content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app-footer {
  height: 15vh;
  flex-shrink: 0;
  background-color: var(--color-secondary);
  color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-background);
}

.App-link {
  color: var(--color-link);
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Exemplo de elementos secundários */
button, .card, .MuiPaper-root {
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-accent);
}

button:hover, .MuiPaper-root:hover {
  border-color: var(--color-secondary);
}
